* {
	margin: 0;
	padding: 0;
	 /* for deleteing any default margin/padding the browser adds to web page elements*/
}

/*styling the header and putting it on the middle of the web page*/

h1 {
	font-family: sans-serif;
	font-size: 120px;
	text-align: center;
	margin-top: 30px;
	transition: 0.5s all ease;
}

h1:hover {
	letter-spacing: 10px;
}

/*Making a line under the header*/

h1 .line {
	display: flex;
	justify-content: center;
}

h1 .line .d {
	width: 400px;
	border-bottom: 5px solid red;
	height: 10px;
	transition: 0.5s all;
}

h1:hover .line .d {
	width: 500px;
}


/*styling images of the web page */
.photos {
	display: flex;
	margin: 20px;
	justify-content: center;
	flex-wrap: wrap;
}


.photos img {
	width: 400px;
	height: 300px;
	margin: 20px;
	transition: 0.5s all ease-in-out;
}

.photos img:hover {
	transform: scale(1.1);
}

footer {
	display: flex;
	justify-content: center;
}

footer h2 {
	font-family: initial;
	font-size: 50px;
	margin-bottom: 50px;
}